# Byte-compiled / optimized / DLL files
**/__pycache__
*.pyc

# Virtual environment
venv/

# Build and distribution
build/
dist/
*.egg-info/

# Configuration files
config/
secrets.yml
**/credentials.txt

# Large files and directories
big_file.txt
dataset/